################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Old/UAT.BlackbaudDemo/BlackbaudDemo4.0/obj/Release
/Old/UAT.BlackbaudDemo/packages
