<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blackbaud.UAT.Core" version="1.0.756.1" targetFramework="net40" />
  <package id="Blackbaud.UAT.SpecFlow.Selenium" version="1.0.753.9" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net40" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net40" />
  <package id="Selenium.Support" version="2.46.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.46.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40" />
</packages>