<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blackbaud.UAT.Core" version="1.0.1429.1" targetFramework="net452" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net40" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="SpecFlow" version="2.0.0" targetFramework="net452" />
  <package id="SpecFlow.Assist.Dynamic" version="1.1.0" targetFramework="net40" />
</packages>