<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <plugins>
      <add name="Blackbaud.UAT.SpecFlow.Selenium" path="..\packages\Blackbaud.UAT.SpecFlow.Selenium.1.0.20221027.1\lib\net48" />
    </plugins>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
    <unitTestProvider name="BBTest" />
  </specFlow>
  <appSettings>
    <!-- Oxford -->
    <!-- Capture screen at end of test - false, true (always) or fail (on failure only) -->
    <!-- Fallback location for server / TFS agent runs of the tests -->
    <!-- Credentials for performance log upload - "domain\usernamme:password" or empty for no authentication -->
    <add key="BBCRMBaseUrl" value="https://sc1tartaniis001.pdnt.blackbaud.com/bbappfx" />
    <add key="BBISBaseUrl" value="https://sc1tartaniis001.pdnt.blackbaud.com/bbis" />
    <!-- local -->
    <!--
    <add key="BBCRMBaseUrl" value="https://localhost:80/bbappfx_Demo" />
    <add key="BBISBaseUrl" value="https://localhost:80/bbis_Demo" />
    -->
    <add key="BBCRMHomeUrl" value="/webui/webshellpage.aspx?databasename=BBInfinity" />
    <add key="BBISHomeUrl" value="/cms/adminhome" />
    <add key="Credentials" value="AutomagicCRM:Research6!1592" />
    <add key="BBISCredentials" value="Supervisor:admin" />
    <!-- Start Chrome Maximised - true or false -->
    <add key="ChromeDriver.Maximise" value="true" />
    <!--<add key="RemoteDriver" value="http://10.10.122.86:9515" />-->
    <add key="ChromeDriver.language" value="en-GB" />
    <!--<add key="ChromeDriver.WebPageTestUrl" value="https://s01t2wptsvr001.blackbaudqa.net" />-->
    <!--<add key="ChromeDriver.WebPageTestUrl" value="http://localhost:8888" />-->
    <!--<add key="ChromeDriver.WebPageTestCredentials" value="blackbaudqa\quality.analyst:P@ssw0rd!" />-->
    <!-- Path to Chrome Extension to load - for local debug -->
    <!--<add key="ChromeDriver.ExtensionPath" value="D:\Source\Products\BBCRM\Automation\BlueXMonkey" />-->
    <!--<add key="ChromeDriver.Maximise" value="false" />-->
    <!-- Use a RemoteDriver - false or RemoteDriver location e.g. "http://10.10.122.86:9515" -->
    <!-- <add key="RemoteDriver" value="http://10.10.122.86:9515" /> -->
    <!-- Start chrome with specified language e.g. en-GB-->
    <!-- You should manually un-comment this and set to your required value to avoid unexpected consequences on nuget upgrade -->
    <!-- <add key="ChromeDriver.language" value="en-US" /> -->
    <!-- Webdriver (feature) logging - false, true or verbose-->
    <!-- Chromedriver performance logging - true or false-->
    <!-- Url to upload performance log to - false or a Url e.g "https://s01t2wptsvr001.blackbaudqa.net" -->
    <!-- Note that Setting a WebPageTestUrl will implicitly set Performance logging and Screenshot to true -->
    <!-- Chromedriver Mobile emulation https://developer.chrome.com/devtools/docs/device-mode - false or device to emulate e.g."Apple iPhone 6" -->
    <add key="RemoteDriver" value="false" />
    <add key="ChromeDriver.Logging" value="false" />
    <add key="ChromeDriver.PerfLogging" value="false" />
    <add key="ChromeDriver.Screenshot" value="fail" />
    <add key="ChromeDriver.Screenshot.ServerPath" value="C:\Screenshots\" />
    <add key="ChromeDriver.WebPageTestUrl" value="false" />
    <add key="ChromeDriver.WebPageTestCredentials" value="" />
    <add key="ChromeDriver.MobileEmulationDevice" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>