<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
        <plugins>
            <add name="Blackbaud.UAT.SpecFlow.Selenium" path="..\packages\Blackbaud.UAT.SpecFlow.Selenium.1.0.1235.1" />
        </plugins>
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
        <stepAssemblies>
            <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
            <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
        </stepAssemblies>
        <unitTestProvider name="BBTest" />
    </specFlow>
    <appSettings>
        <!-- Credentials for performance log upload - "domain\usernamme:password" or empty for no authentication -->
        <add key="BBCRMBaseUrl" value="" />
        <add key="BBISBaseUrl" value="" />
        <add key="BBCRMHomeUrl" value="/webui/webshellpage.aspx?databasename=BBInfinity" />
        <add key="BBISHomeUrl" value="/cms/adminhome" />
        <add key="Credentials" value="" />
        <add key="BBISCredentials" value="" />
        <!-- Start Chrome Maximised - true or false -->
        <add key="ChromeDriver.Maximise" value="true" />
        <add key="ChromeDriver.language" value="en-GB" />
        <add key="RemoteDriver" value="false" />
        <add key="ChromeDriver.Logging" value="false" />
        <add key="ChromeDriver.PerfLogging" value="false" />
        <add key="ChromeDriver.Screenshot" value="fail" />
        <add key="ChromeDriver.Screenshot.ServerPath" value="C:\Screenshots\" />
        <add key="ChromeDriver.WebPageTestUrl" value="false" />
        <add key="ChromeDriver.WebPageTestCredentials" value="" />
        <add key="ChromeDriver.MobileEmulationDevice" value="false" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			<assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
		  </dependentAssembly>
		  <dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
		  </dependentAssembly>
		</assemblyBinding>
    </runtime>
</configuration>