<?xml version="1.0"?>
<!-- Web.Config Configuration File -->
<configuration>
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="true"/>
            <staticContent>
              <remove fileExtension=".svg" />
              <remove fileExtension=".eot" />
              <remove fileExtension=".woff" />
              <mimeMap fileExtension=".svg" mimeType="image/svg+xml"  />
              <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
              <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
            </staticContent>
        </system.webServer>
</configuration>